body {
    background-color: #f6f6f6;
    font-family: 'Segoe UI', sans-serif;
}

.bg-teal {
    background-color: #546765 !important;
}

.card h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Animasi transisi fade-out */
.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* Animasi transisi fade-in */
.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
